@font-face {
    font-family: "ProximaNovaSoft";
    src: url('../Fonts/Proxima-Nova-Soft/ProximaNovaSoft-Regular.otf')
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "ProximaNovaSoft-Regular";
}

nav {
    height: 56px;
    background-color: #77439E;
    color: #fff;
    padding: 13px 10px;
}

.nav-title {
    font-family: 'ProximaNovaSoft-Regular';
    font-size: 20px;
    text-align: center
}

.nav-btn {
    height: 30px;
    width: 30px;
    /* display: inline; */
}

.nav-btn>span:nth-child(1) {
    border-top: 1px solid #fff
}